.app {
  display: flex;
  padding: 20px;
}

.menu {
  margin-right: 20px;
  min-width: 200px;
  border-right: thin solid #e6e6e6
}

.menuTitle {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px 0 20px;
}

.content {
  flex: 1;
}