.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.logo {
  margin-top: 50px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
}

.slogan {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 300;
  max-width: 600px;
  text-align: center;
}

/* Features */

.features {
  display: flex;
  padding: 0 20px;
}

.featureItem {
  max-width: 300px;
  text-align: center;
  margin-right: 50px;
}

.featureItem:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.featureTitle {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}

.featureDescription {
  font-weight: 300;
  line-height: 18px;
}

/* Links */

.links {
  padding: 70px 0;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-flex;
  border: thin solid black;
}

.link:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}

.link:last-child {
  margin-right: 0;
}

.docLink::before {
  content: '';
  background-image: url('../images/book.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-size: cover;
}

.exaLink::before {
  content: '';
  background-image: url('../images/codesandbox.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-size: cover;
}

.githubLink {
  background-color: #d8eaec;
  font-weight: bold;
  border: none;
}

.githubLink::before {
  content: '';
  background-image: url('../images/github.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-size: cover;
}

.usingDomerjs {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
  border: thin dashed black;
  margin-top: 50px;
  opacity: .8;
  display: flex;
}

.usingDomerjs::before {
  content: '';
  background-image: url('../images/smile.svg');
  width: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (max-width: 600px) {
  .logo {
    margin-top: 10px;
  }
  .title {
    font-size: 40px;
  }
  .slogan {
    font-size: 22px;
  }
  .links {
    flex-direction: column;
    padding: 30px 0;
  }
  .link {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .features {
    flex-direction: column;
  }
  .featureItem {
    margin-right: 0;
    margin-bottom: 20px;
  }
}