.breadcrumb {
  background-color: #f8f8f8;
  padding: 8px 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
}

.breadcrumb::before {
  content: '';
  background-image: url('../../images/graph.svg');
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-size: cover;
}